@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap");

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins,sans-serif;
    flex-direction: column;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#wrapper {
    background: #ffeedd;

    width: 400px;
    height: 400px;
}
